.dataBindingContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.oneWayDataBinding{
    display: flex;
    flex-direction: column;
}
.spaceBetween{
    margin-right: 50px !important;
}
.inputContainer{
    display: flex;
    /* justify-content: space-between; */
}
.noDirectRelationContainer{
    display: flex;
    width: 100%;
}
.nestedLOneBContainer{
    border: 1px solid black;
    padding: 10px;
    width: 50%;
}
.nestedLOneAContainer{
    border: 1px solid black;
    padding: 10px;
    margin-right: 20px;
    width: 50%;
}
.NestedLTwoContainer{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}